*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* cursor: none; */
}

h1, h2, h3{
    color: rgb(58, 58, 58);
}

h2:hover {
    filter: blur(2px);
}


img{
    width: 500px;
    /* z-index: -3; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: 10vh;
    margin: auto;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: black;
    padding: 1rem; 
}

.nav-links a:hover{
    color: white;
}

.nav-links, h1{
    flex: 1;
}

.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: sepia(90%);
}

.link-grow{
    transform: scale(2);
    background: black;
    z-index: -1;
}

.border-white{
    border: 2px solid white;
}

section{
    padding: 60px;
}

/* --- presentation ---*/
#presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.front-description p {
    font-size: 40px;
}

.front-cover img{
    height: 600px;
    object-fit: cover;
}

/* --- history ---*/
.generations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
.generation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.generation img{
    filter: saturate(25%);
    transition: filter 0.5s ease-in-out;
    height: 250px;
    object-fit: cover;
}
.generation img:hover{
    filter: none;
    transition: all 0.5s ease-in-out;
}

.generation p:first-of-type {
    margin: 5px auto 0;
}
.generation p:last-of-type {
    margin: 0 auto 5px;
    font-weight: bold;
}

#movies h2, #history h2,h3{
    text-align: center;
    margin-bottom: 10px;
}

h3{
    font-weight: 200;
}
#history .p {
   display: flex;
   align-items: center;
   justify-content: center;
}
#history .p p{
    width: 300px;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 30px;
}

hr{
    width: 90%;
    margin: 20px auto;
}


/* --- movie slider ---*/

#movies{
    margin-bottom: 60px;
}
.slider img{
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.slide{
    position: relative;
}
.slide p{
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: white;
}
.change{
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}
.change button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.change img{
    width: 30%;
    position: relative;
}
.left{
    top: 50%;
    left: -20px;
}

.right{
    top: 50%;
    right: -20px;
}
.container-slider{
    position: relative;
    margin: 50px auto;
    height: 300px;
    width: 500px;
    
}
.slider{
    height: 100%;
    width: 100%;
    z-index: -20;
}
.slide{
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -20;
}

.circles{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    margin-right: 5px;
}

.active-cercle{
    background: rgb(65, 62, 62);
}

.active{
    opacity: 1;
}

/* footer */
footer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(128, 126, 126);
    color: white;
}

/* media-queries */

@media screen and (max-width: 880px){
   .front-cover img{
        width: 350px;
        height: 250px;
        object-fit: cover;
    }
}

@media screen and (max-width: 615px){
    #presentation{
        flex-direction: column;
    }
    .front-description p {
        font-size: 28px;
    }
    .generation img{
        width: 280px;
        height: 170px;
    }
    .container-slider{
        height: 180px;
        width: 280px; 
    }
    .slider img{
        height: 180px;
        width: 280px;
    }
    .left, .right{
        top: 40%;
    }
    .nav-links a{
        font-size: 13px;
    }
    h1{
        font-size: 18px;
    }
}